.characters {
  position: relative;
  top: 80px;
  .char-name {
    font-family: "Playfair Display", serif;
    font-size: 18px;
  }
  .char-specie {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: italic;
  }
  .char-details {
    font-size: 13px;
    position: relative;
    transition: 0.3s;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 0;
      height: 2px;
      background-color: green;
      transition: 0.3s;
    }
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.details-card {
  border: 1px solid green;
  border-radius: 35px;
  img {
    border-radius: 35px;
  }
  .char-info {
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 45px;
    }
    p {
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      font-style: italic;
      span {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
}
